<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="debug"
      internalLogFile="C:\Temp\nlog\internalLog_loggingService.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" name="file-all-data" fileName="app-server-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="file-web" fileName="app-server-error-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target name="viewer" type="NLogViewer" address="udp://127.0.0.1:7071" includeNLogData="false" />
    <target name="console" type="ColoredConsole" layout="${time}|${pad:padding=2:inner=${threadid}}|${pad:padding=1:fixedLength=true:inner=${level}}|${pad:padding=-25:fixedLength=true:inner=${logger:shortName=true}}| ${message}${onexception:${newline}${exception:format=ToString}}" />
  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file-all-data" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file-web" />
    <logger name="*" minlevel="Trace" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />
  </rules>
</nlog>
