<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="debug" 
      internalLogFile="C:\Temp\nlog\nlog-internal-client-web.txt">
  
  <extensions>
    <add assembly="NLog.Web"/>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">
    <target xsi:type="WebService" name="ws" url="http://localhost:7000/api/log" protocol="JsonPost" encoding="UTF-8">
      <parameter name="Message" type="System.String" layout="${message}" />
      <parameter name="Level" type="System.String" layout="${level}" />
      <parameter name="ServiceName" type="System.String" layout="${gdc:item=LoggingServiceName}" />
      <parameter name="LongDate" type="System.String" layout="${longdate}" />
      <parameter name="Logger" type="System.String" layout="${logger}" />
      <parameter name="Exception" type="System.String" layout="${exception:format=toString}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" writeTo="ws" />
  </rules>
</nlog>